{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign In" %}</h3>

            <p>{% blocktrans %} To leave a comment or like a post, please log in. If you
                have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <form action="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
    <div class="main">
        <!-- Create a Form -->
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            Are you want to delete this item ?
            <input type="submit" value="Yes">
            <a href="/">Cancel </a>
        </form>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

        </div>
    </div>
</div>


{% endblock %}